/*
 * Vitesse Dark syntax highlighting
 */

.z-code {
  color: #dbd7ca;
  background-color: #121212;
}

.z-hl {
  background-color: #1e1e1e;
}

.giallo-ln {
  color: #444444;
}

.z-comment { color: #758575; }
.z-constant { color: #4C9A91; }
.z-entity { color: #80a665; }
.z-keyword { color: #4d9375; }
.z-storage { color: #4d9375; }
.z-string { color: #c98a7d; }
.z-support { color: #5DA994; }
.z-variable { color: #bd976a; }
.z-carriage-return { color: #121212; background-color: #cb7676; font-style: italic; text-decoration: underline; }
.z-source { color: #dbd7ca; }
.z-string.z-comment { color: #758575; }
.z-variable.z-language { color: #cb7676; }
.z-entity.z-name { color: #80a665; }
.z-storage.z-type { color: #4d9375; }
.z-meta.z-property-name { color: #6394bf; }
.z-variable.z-other { color: #dbd7ca; }
.z-invalid.z-broken { color: #cb7676; font-style: italic; }
.z-invalid.z-deprecated { color: #cb7676; font-style: italic; }
.z-invalid.z-illegal { color: #cb7676; font-style: italic; }
.z-invalid.z-unimplemented { color: #cb7676; font-style: italic; }
.z-message.z-error { color: #cb7676; }
.z-source.z-regexp { color: #c4704f; }
.z-string.z-regexp { color: #c4704f; }
.z-support.z-constant { color: #4C9A91; }
.z-support.z-variable { color: #5DA994; }
.z-meta.z-module-reference { color: #5DA994; }
.z-markup.z-heading { color: #6394bf; font-weight: bold; }
.z-markup.z-quote { color: #80a665; }
.z-markup.z-italic { color: #dbd7ca; font-style: italic; }
.z-markup.z-bold { color: #dbd7ca; font-weight: bold; }
.z-markup.z-underline { text-decoration: underline; }
.z-markup.z-strikethrough { text-decoration: line-through; }
.z-markup.z-deleted { color: #cb7676; background-color: #3a1616; }
.z-markup.z-inserted { color: #80a665; background-color: #1a2e1a; }
.z-markup.z-changed { color: #d4976c; background-color: #3a2510; }
.z-markup.z-ignored { color: #1e1e1e; background-color: #6394bf; }
.z-markup.z-untracked { color: #1e1e1e; background-color: #6394bf; }
.z-meta.z-separator { color: #6394bf; font-weight: bold; }
.z-meta.z-output { color: #6394bf; }
.z-brackethighlighter.z-tag { color: #858580; }
.z-brackethighlighter.z-curly { color: #858580; }
.z-brackethighlighter.z-round { color: #858580; }
.z-brackethighlighter.z-square { color: #858580; }
.z-brackethighlighter.z-angle { color: #858580; }
.z-brackethighlighter.z-quote { color: #858580; }
.z-brackethighlighter.z-unmatched { color: #cb7676; }
.z-entity.z-name { color: #80a665; font-weight: bold; }
.z-punctuation.z-definition.z-comment { color: #758575; }
.z-entity.z-name.z-constant { color: #4C9A91; }
.z-variable.z-other.z-constant { color: #4C9A91; }
.z-variable.z-other.z-enummember { color: #4C9A91; }
.z-variable.z-parameter.z-function { color: #dbd7ca; }
.z-entity.z-name.z-tag { color: #4d9375; }
.z-storage.z-modifier.z-package { color: #dbd7ca; }
.z-storage.z-modifier.z-import { color: #dbd7ca; }
.z-storage.z-type.z-java { color: #dbd7ca; }
.z-punctuation.z-definition.z-string { color: #c98a7d; }
.z-string.z-regexp.z-character-class { color: #c4704f; }
.z-markup.z-inline.z-raw { color: #4C9A91; }
.z-punctuation.z-definition.z-deleted { color: #cb7676; background-color: #3a1616; }
.z-punctuation.z-definition.z-inserted { color: #80a665; background-color: #1a2e1a; }
.z-punctuation.z-definition.z-changed { color: #d4976c; background-color: #3a2510; }
.z-meta.z-diff.z-range { color: #6872ab; font-weight: bold; }
.z-meta.z-diff.z-header { color: #6394bf; }
.z-string.z-other.z-link { color: #6394bf; text-decoration: underline; }
.z-constant.z-character.z-escape { color: #4C9A91; }
.z-source.z-ruby.z-embedded { color: #c98a7d; }
.z-string.z-regexp.z-arbitrary-repitition { color: #c4704f; }
.z-constant.z-character.z-escape { color: #80a665; font-weight: bold; }
.z-meta.z-diff.z-header.z-from-file { color: #cb7676; background-color: #3a1616; }
.z-meta.z-diff.z-header.z-to-file { color: #80a665; background-color: #1a2e1a; }
.z-constant.z-other.z-reference.z-link { color: #6394bf; text-decoration: underline; }
.z-punctuation.z-definition.z-list.z-begin.z-markdown { color: #d4976c; }
